#########################
# Timing Trigger Channel Parameters
#########################

record(bo, "$(P)$(R)$(S)Ch$(C)State-Sel"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(MASK, "1")
  field(ZNAM, "Dsbl")
  field(ONAM, "Enbl")
  field(DESC, "$(S) trigger channel $(C) state")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EN")
}

record(bi, "$(P)$(R)$(S)Ch$(C)State-Sts"){
  field(DTYP, "asynUInt32Digital")
  field(ZNAM, "Dsbl")
  field(ONAM, "Enbl")
  field(DESC, "$(S) trigger channel $(C) state")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EN")
  field(SCAN,"I/O Intr")
}

record(bo, "$(P)$(R)$(S)Ch$(C)Polarity-Sel"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(MASK, "1")
  field(ZNAM, "Normal")
  field(ONAM, "Inverse")
  field(DESC, "$(S) trigger channel $(C) Polarity")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_POL")
}

record(bi, "$(P)$(R)$(S)Ch$(C)Polarity-Sts"){
  field(DTYP, "asynUInt32Digital")
  field(ZNAM, "Normal")
  field(ONAM, "Inverse")
  field(DESC, "$(S) trigger channel $(C) Polarity")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_POL")
  field(SCAN,"I/O Intr")
}

record(bo, "$(P)$(R)$(S)Ch$(C)Log-Sel"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(MASK, "1")
  field(ZNAM, "Dsbl")
  field(ONAM, "Enbl")
  field(DESC, "$(S) trigger channel $(C) Time Log")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_LOG")
}

record(bi, "$(P)$(R)$(S)Ch$(C)Log-Sts"){
  field(DTYP, "asynUInt32Digital")
  field(ZNAM, "Dsbl")
  field(ONAM, "Enbl")
  field(DESC, "$(S) trigger channel $(C) Time Log")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_LOG")
  field(SCAN,"I/O Intr")
}

record(mbbo, "$(P)$(R)$(S)Ch$(C)Src-Sel"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(ZRST, "Trigger")
  field(ZRVL, "0x0")
  field(ONST, "Clock0")
  field(ONVL, "0x1")
  field(TWST, "Clock1")
  field(TWVL, "0x2")
  field(THST, "Clock2")
  field(THVL, "0x3")
  field(FRST, "Clock3")
  field(FRVL, "0x4")
  field(FVST, "Clock4")
  field(FVVL, "0x5")
  field(SXST, "Clock5")
  field(SXVL, "0x6")
  field(SVST, "Clock6")
  field(SVVL, "0x7")
  field(EIST, "Clock7")
  field(EIVL, "0x8")
  field(DESC, "Set $(S) channel $(C) source")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_SRC")
}

record(mbbi, "$(P)$(R)$(S)Ch$(C)Src-Sts"){
  field(DTYP, "asynUInt32Digital")
  field(ZRST, "Trigger")
  field(ZRVL, "0x0")
  field(ONST, "Clock0")
  field(ONVL, "0x1")
  field(TWST, "Clock1")
  field(TWVL, "0x2")
  field(THST, "Clock2")
  field(THVL, "0x3")
  field(FRST, "Clock3")
  field(FRVL, "0x4")
  field(FVST, "Clock4")
  field(FVVL, "0x5")
  field(SXST, "Clock5")
  field(SXVL, "0x6")
  field(SVST, "Clock6")
  field(SVVL, "0x7")
  field(EIST, "Clock7")
  field(EIVL, "0x8")
  field(DESC, "Get $(S) channel $(C) source")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_SRC")
  field(SCAN,"I/O Intr")
}

record(bo, "$(P)$(R)$(S)Ch$(C)Dir-Sel"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(MASK, "1")
  field(ZNAM, "Out")
  field(ONAM, "In")
  field(DESC, "$(S) trigger channel $(C) direction")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DIR")
}

record(bi, "$(P)$(R)$(S)Ch$(C)Dir-Sts"){
  field(DTYP, "asynUInt32Digital")
  field(ZNAM, "Out")
  field(ONAM, "In")
  field(DESC, "$(S) trigger channel $(C) direction")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DIR")
  field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Evt-SP"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(DESC, "Set $(S) trigger channel $(C) event code")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EVT")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Evt-RB"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Get $(S) trigger channel $(C) event code")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EVT")
  field(SCAN,"I/O Intr")
}

record(ao, "$(P)$(R)$(S)Ch$(C)Width-SP") {
  field(DESC, "Set $(S) trigger channel $(C) width")
  field(PINI, "1")
  field(VAL, "0.008")
  field(DRVH, "17000000")
  field(DRVL, "0.008")
  field(EGU, "us")
  field(FLNK, "$(P)$(R)$(S)Ch$(C)WidthCalc")
}

record(calcout, "$(P)$(R)$(S)Ch$(C)WidthCalc") {
  field(DESC, "Trigger channel $(C) width calc")
  field(INPA, "$(P)$(R)$(S)Ch$(C)Width-SP")
  field(INPB, "$(P)$(R)FPGAClk-Cte PP")
  field(CALC, "NINT(A*(B/1000000))")
  field(OUT, "$(P)$(R)$(S)Ch$(C)WidthRaw-SP PP")
}

record(longout, "$(P)$(R)$(S)Ch$(C)WidthRaw-SP"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Set $(S) trigger channel $(C) width")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_WDT")
}

record(longin, "$(P)$(R)$(S)Ch$(C)WidthRaw-RB"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Get $(S) trigger channel $(C) width")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_WDT")
  field(SCAN,"I/O Intr")
  field(FLNK, "$(P)$(R)$(S)Ch$(C)Width-RB")
}

record(calc, "$(P)$(R)$(S)Ch$(C)Width-RB") {
  field(INPA, "$(P)$(R)$(S)Ch$(C)WidthRaw-RB")
  field(INPB, "$(P)$(R)FPGAClk-Cte CPP")
  field(PREC, "3")
  field(DESC, "Get $(S) trigger channel $(C) width")
  field(EGU, "us")
  field(CALC, "A/B*1000000")
}

record(ao, "$(P)$(R)$(S)Ch$(C)Delay-SP") {
  field(DESC, "Set $(S) trigger channel $(C) delay")
  field(PINI, "1")
  field(VAL, "0.000")
  field(DRVH, "17000000")
  field(DRVL, "0.000")
  field(EGU, "us")
  field(FLNK, "$(P)$(R)$(S)Ch$(C)DelayCalc")
}

record(calcout, "$(P)$(R)$(S)Ch$(C)DelayCalc") {
  field(DESC, "Trigger channel $(C) delay calc")
  field(INPA, "$(P)$(R)$(S)Ch$(C)Delay-SP")
  field(INPB, "$(P)$(R)FPGAClk-Cte PP")
  field(CALC, "NINT(A*(B/1000000))")
  field(OUT, "$(P)$(R)$(S)Ch$(C)DelayRaw-SP PP")
}

record(longout, "$(P)$(R)$(S)Ch$(C)DelayRaw-SP"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Set $(S) trigger channel $(C) delay")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DLY")
}

record(longin, "$(P)$(R)$(S)Ch$(C)DelayRaw-RB"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Get $(S) trigger channel $(C) delay")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DLY")
  field(SCAN,"I/O Intr")
  field(FLNK, "$(P)$(R)$(S)Ch$(C)Delay-RB")
}

record(calc, "$(P)$(R)$(S)Ch$(C)Delay-RB") {
  field(INPA, "$(P)$(R)$(S)Ch$(C)DelayRaw-RB")
  field(INPB, "$(P)$(R)FPGAClk-Cte PP")
  field(PREC, "3")
  field(DESC, "Get $(S) trigger channel $(C) delay")
  field(EGU, "us")
  field(CALC, "A/B*1000000")
}

record(longout, "$(P)$(R)$(S)Ch$(C)NrPulses-SP"){
  field(DTYP, "asynUInt32Digital")
  field(PINI, "1")
  field(DESC, "Set $(S) trigger channel $(C) pulses")
  field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_PULSES")
}

record(longin, "$(P)$(R)$(S)Ch$(C)NrPulses-RB"){
  field(DTYP, "asynUInt32Digital")
  field(DESC, "Get $(S) trigger channel $(C) pulses")
  field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_PULSES")
  field(SCAN,"I/O Intr")
}

