#########################
# Timing Configuration Parameters
#########################

record(mbbi, "$(P)$(R)LinkStatus-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get Link Status")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_LINK_STATUS")
    field(SCAN,"1 second")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"off")
    field(ONST,"on")
}

record(mbbi, "$(P)$(R)RxEnStatus-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get RX Enable Status")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_RX_EN_STATUS")
    field(SCAN,"1 second")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"off")
    field(ONST,"on")
}

record(mbbi, "$(P)$(R)RefClkLocked-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get Ref. Clock Locked Status")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_REF_CLK_LOCKED")
    field(SCAN,"1 second")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"off")
    field(ONST,"on")
}

record(longout, "$(P)$(R)EvtCode7-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set trigger channel 7 event code")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_CODE7")
}

record(longin, "$(P)$(R)EvtCode7-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get trigger channel 7 event code")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_CODE7")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)EvtDelay7-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set trigger channel 7 event delay")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_DELAY7")
}

record(longin, "$(P)$(R)EvtDelay7-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get trigger channel 7 event delay")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_DELAY7")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)EvtWidth7-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set trigger channel 7 event Width")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_WIDTH7")
}

record(longin, "$(P)$(R)EvtWidth7-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get trigger channel 7 event Width")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_EVT_WIDTH7")
    field(SCAN,"I/O Intr")
}

