#########################
# Timing Trigger Channel Parameters
#########################

record(bo, "$(P)$(R)$(S)Ch$(C)State-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) state")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EN$(C)")
}

record(bi, "$(P)$(R)$(S)Ch$(C)State-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) state")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EN$(C)")
    field(SCAN,"I/O Intr")
}

record(bo, "$(P)$(R)$(S)Ch$(C)Polarity-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) Polarity")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_POL$(C)")
}

record(bi, "$(P)$(R)$(S)Ch$(C)Polarity-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) Polarity")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_POL$(C)")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Src-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) channel $(C) source")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_SRC$(C)")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Src-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) channel $(C) source")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_SRC$(C)")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Evt-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) event code")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EVT$(C)")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Evt-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) event code")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_EVT$(C)")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Width-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) width")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_WDT$(C)")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Width-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) width")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_WDT$(C)")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Delay-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) delay")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DLY$(C)")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Delay-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) delay")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_DLY$(C)")
    field(SCAN,"I/O Intr")
}

record(longout, "$(P)$(R)$(S)Ch$(C)Pulses-SP"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) pulses")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_PULSES$(C)")
}

record(longin, "$(P)$(R)$(S)Ch$(C)Pulses-RB"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set $(S) trigger channel $(C) pulses")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RX_$(S)_PULSES$(C)")
    field(SCAN,"I/O Intr")
}

