#epicsEnvSet("TIM_RX_ENDPOINT","tcp://10.2.117.47:9999")
#epicsEnvSet("TIM_RX_NUMBER","17")
epicsEnvSet("TIM_RX_VERBOSE","0")
epicsEnvSet("TIM_RX_TIMEOUT","2000")

# PV prefixes
epicsEnvSet("P", "${EPICS_PV_AREA_PREFIX}")
epicsEnvSet("R", "${EPICS_PV_DEVICE_PREFIX}")

epicsEnvSet("PORT", "TIM_RX")
epicsEnvSet("TIM_RX_NAME","TIM_RX")
